node_modules
.next
.turbo
dist
build/
apps/desktop/build
coverage
.env
.env.local
.env.*.local
package-lock.json
yarn.lock
*.log
*.tsbuildinfo
postgres-data
apps/web/.next
apps/web/.vercel
packages/db/generated
